.twoColHead {
    font-family: "Oxanium";
    font-weight: 300;
    letter-spacing: .3rem;
}


[data-aos^='fade'][data-aos^='fade'] {
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform
}

  [data-aos^='fade'][data-aos^='fade'].aos-animate {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
  }

[data-aos='fade-up'] {
  -webkit-transform: translate3d(0, 100px, 0);
  transform: translate3d(0, 100px, 0)
}


.lineUp {
    animation: 2s anim-lineUp ease-out infinite;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }