@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oxanium:wght@200;300;400&display=swap');

.scChromeData,
.scpm {
  display: none !important;
}

.sc-jss-editing-error,
.sc-jss-placeholder-error {
  padding: 1em;
  background-color: lightyellow;
}

.contentTitle {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.nav-links {
  font-family: Oxanium, sans-serif;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 20px 0 10px;
  outline: none;
}

.nav-links:hover {
  color: #64dcff;
  -webkit-animation: none;
  animation: none;
}

.navCanvas {
  background-color: #1f1f1f !important;
  width: 400px !important;
  max-width: 75% !important;
}
.navCanvas div div {
  align-items: flex-start !important;
  padding-left: 1rem !important;
}

.navlinks:hover {
  color: skyblue !important;
}

.navlinks {
  color: white !important;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  font-family: Oxanium;
}

.navCanvas div div .navlinks.active:not(.button):after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  border-width: 1px;
  -webkit-box-shadow: 0 0 14px 4px #64dcff;
  box-shadow: 0 0 14px 4px #64dcff;
}

.navCanvas div div .navlinks.active:not(.button):after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  border-width: 1px;
  -webkit-box-shadow: 0 0 14px 4px #64dcff;
  box-shadow: 0 0 14px 4px #64dcff;
}
.navlinks.active:not(.button):after {
  position: relative;
  left: -1px;
  content: '';
  display: block;
  width: 40px;
  height: 4px;
  margin: auto;
  border-radius: 3px;
  background: #fff;
  border: 0 solid rgba(100, 220, 255, 0.5);
  -webkit-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* overflow-x: hidden; */
  max-width: 100%;
  overflow-x: hidden;
}

.main-container {
  margin: 0 !important;
  background-color: #1f1f1f;
}

.h4 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.3;
  font-weight: 300;
  margin: 0 0 1em -0.07em;
  font-family: Oxanium, sans-serif;
}

.is-view:after {
  width: 80px !important;
  border-width: 1px;
  box-shadow: 0 0 14px 4px #64dcff;
  content: '';
  margin-top: 8px;
  display: block;
  width: 0;
  height: 3px;
  border-radius: 3px;
  background: #fff;
  border: 0 solid rgba(100, 220, 255, 0.5);
  margin-bottom: 50px;
  -webkit-transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.cardWithImageHeading {
  font-family: Oxanium, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 18px;
  text-align: left;
}

.cardWithImageHeading:after {
  content: '';
  margin-top: 8px;
  display: block;
  width: 0;
  height: 3px;
  border-radius: 3px;
  background: #fff;
  border: 0 solid rgba(100, 220, 255, 0.5);
  margin-bottom: 50px;
  -webkit-transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.c-p {
  cursor: pointer;
}

.no-padding {
  padding: 0 0 0 0 !important;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.heroBannerTitle {
  font-weight: 300;
  font-family: Oxanium, sans-serif;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 29px;
  max-height: 296px;
}

.typeReveal {
  display: block;
  white-space: normal !important;
  width: 850px;
}

.connect-description {
  font-size: 58px;
  width: 684px;
}

.p-tag-description {
  margin-bottom: 1.5rem;
}

.navbar {
  background-color: black !important;
  position: sticky !important;
  padding: 8px 100px;
  max-width: 100% !important;
}
.navbar div button svg {
  font-size: 2em !important;
  color: white !important;
}

.offcanvas.offcanvas-start {
  top: 0;
  left: 0;
  width: var(--bs-offcanvas-width);
  border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  transform: translateX(-100%);
}
.offcanvas,
.offcanvas-xxl,
.offcanvas-xl,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 40rem;
  --bs-offcanvas-height: 30vh;
  --bs-offcanvas-padding-x: 1rem;
  --bs-offcanvas-padding-y: 1rem;
  --bs-offcanvas-color: ;
  --bs-offcanvas-bg: #fff;
  --bs-offcanvas-border-width: 1px;
  --bs-offcanvas-border-color: var(--bs-border-color-translucent);
  --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

@media only screen and (max-width: 450px) and (min-width: 320px) {
  .heroBannerTitle {
    font-size: calc(30px + 40 * ((100vw - 320px) / 1120));
  }
  .typeReveal {
    width: 396px;
  }
  .connect-description {
    width: auto;
    font-size: 50px;
    line-height: 1;
  }
  .navbar {
    padding: 0;
  }
  .navContainer {
    margin-right: 8px;
    margin-left: 8px;
    justify-content: space-between;
    max-width: 100%;
  }
}

/* TABLET */
@media only screen and (max-width: 850px) and (min-width: 700px) {
  .heroBannerTitle {
    font-size: 47px;
  }
  .typeReveal {
    width: 647px;
  }
  .typingDemo {
    max-width: 647px;
  }
  .connect-description {
    font-size: 47px;
    margin-bottom: 0;
    width: 54px;
  }
}

.typingDemo {
  animation: typewriter 2s steps(44) 1s 1 normal both;
  overflow: hidden;
  width: 22ch;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@media only screen and (max-width: 1350px) and (min-width: 1200px) {
  .navbar {
    padding: 8px 80px;
  }
}
